<div class="booktop">
<h1>書評 新規投稿</h1>
</div>
<div class="bookpost-container">
  <p class="title">投稿フォーム</p>
    <%= form_for @book do |f| %>
    <div class="field">
      <%= f.label :タイトル %>
      <%= f.text_field :title, :size => 140 %><br>

      <%= f.label :出版社 %>
      <%= f.text_field :publisher, :size => 140 %><br>

      <%= f.label :対象 %>
      <%= f.text_field :grade, :size => 140 %><br>

      <%= f.label :ジャンル %>
      <%= f.text_field :genre, :size => 140 %><br>

      <%= f.label :説明 %>
      <%= f.text_field :about, :size => 140 %><br>

      <%= f.label :出版日 %>
      <%= f.text_field :date_publication, :size => 140 %><br>

    </div>

    <div class="field">
      <%= f.label :画像 %>
      <%= f.file_field :image %>
    </div>
  
    <%= f.submit "投稿する" %>
  <% end %>
  <%= link_to "書評一覧に戻る", books_path %>
</div>