<!DOCTYPE html>
<html>
  <head>
    <title>StudyStart</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/263614050a.js"  crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>StudyStart</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "書評一覧", books_path , class:"button"%></li>
        <li><%= link_to "コミュニティページ",posts_path , class:"button"%></li>
      </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
